@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Staatliches&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body,
input,
textarea,
select,
button  {
  top: 0;
  left: 0;
  background: #BFD7E4;

  font-family: 'Poppins', sans-serif;
  color: #4E4958;
}

body::before{
  content: '';

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  background: #293241;

  width: 100%;
  height: 465px;
}

.page {
  top: 0;
  left: 0;
  width: 750px;
  height: 100vh;

  margin: auto;
  padding: auto;
}

.page header {
  margin-top: 107px;

  display: flex;
  flex-direction: column;
  align-items: center;

  color: #FFFFFF;
}

.page header h1 {
  font-family: 'Staatliches', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 45px;
}

.page header p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.page header .mentory-ration {
  display: flex;
  /* align-items: center; */
  justify-content: center;

  margin-top: 24px;
  
}

.page header .mentory-ration .ballon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.page header .mentory-ration .star-mentory {
  position: absolute;
  margin-top: 31px;
}

form {
  margin-top: 32px;
  height: 100%;
  background: #FFFFFF;
  border-radius: 20px;
  
  display: flex;
  flex-direction: column;
  gap: 32px;
}

fieldset {
  border: none;
  padding: 32px 64px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

form .title-form {
  height: 133px;
  width: 100%;
  background: #F67669;
  border-radius: 20px 20px 0px 0px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

form .title-form h1 {
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #FFFFFF;
}
fieldset legend {
  width: 100%;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #253B51;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 8px;

  text-align: center;
}

.input-group  {
  display: flex;
  gap: 22px;
}

.input-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-wrapper label {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  color: #4E4958;
}

input, textarea{
  
  background: #FAFAFC;

  border: 1px solid #E6E6F0;
  border-radius: 8px;
  padding: 0 24px;
}

input{
  height: 55px;
}

textarea {
  padding: 5px 8px;
}

.wrapper-date {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.wrapper-date .col-3 {
  display: flex;
  gap: 10px;
}

.wrapper-date .col-3 > :nth-child(1) {
  width: 100%;
  margin-right: 32px;
}

button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  margin-top: 63px;
  padding: 15px 40px;
  width: 100%;
  
  background: #F67669;
  border-radius: 8px;
  border: none;

  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;

  color: #FFFFFF;
}