* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --font-family-header-h: 'Staatliches', cursive;
  --font-family-text-body: 'Palanquin', sans-serif;

  --font-color-header-h1: hsla(0, 0%, 100%, 1);
  --font-color-body-text: hsla(274, 84%, 12%, 1);
  --font-color-card-h2: hsla(232, 17%, 35%, 1);

  --background-color: hsla(233, 100%, 97%, 1);
  --background-color-header: hsla(218, 17%, 62%, 1);
  --background-color-h1-header: hsla(275, 18%, 79%, 1);
  --background-color-h2-card: hsla(312, 91%, 96%, 1);

  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
}

body::before {
  position: absolute;

  content: '';
  top: 0;
  left: 0;
  z-index: -1;

  background-color: var(--background-color-header);
  width: 100%;
  height: 28.3rem;
}

header {
  margin-top: 3.2rem;
  text-align: center;
}

header img {
  margin-bottom: 3.2rem;
  height: 13.7rem;
}

header h1 {
  color: var(--font-color-header-h1);
  font-family: var(--font-family-header-h);
  font-style: normal;

  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.08em;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);

  background-color: var(--background-color-h1-header);

  padding: 0.8rem;
  margin-bottom: 2.9rem;
}

img {
  width: 100%;
  height: auto;
}

.page {
  max-width: 32rem;
  margin: 0 auto;
}

.page p {

  font-family: var(--font-family-text-body);
  font-style: normal;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2rem;
  letter-spacing: 0.08rem;

  text-align: center;
  margin-bottom: 6.3rem;
}

main {
  display: grid;
  gap: 3.2rem;
}

.card {
  position: relative;
}

.card img {
  /* width: 32rem; */
  object-fit: cover;
  border-radius: 2rem;

  animation: downTop 1s reverse backwards;
}

.card h2 {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 1.6rem;
  margin-right: 1.6rem;

  border-radius: 2rem;
  background-color: var(--background-color-h2-card);

  font-family: var(--font-family-header-h);
  font-weight: 400;
  color: var(--font-color-card-h2);
  line-height: 3.4rem;
  letter-spacing: 0.08em;

  padding: 0 1.6rem;
  height: 3.5rem;

  display: inline-flex;
  align-items: center;

  animation: topDown 1s 500ms backwards;
}

@keyframes topDown {
  0% {
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downTop {
  100% {
    opacity: 0;
    transform: translateY(15px);
  }
}

@media (min-width: 700px){
  .page {
    max-width: 117rem;
    padding: 0 5rem;
  }
}