* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --ff-text-footer: 'Open Sans', sans-serif;
  --ff-text-mobile: 'Palanquin', sans-serif;
  --ff-text-desktop: 'Roboto', sans-serif;
  --ff-text-heading: 'Staatliches', cursive;

  --bg-color-header: hsla(218, 17%, 62%, 1);
  --bg-color-content: hsla(233, 100%, 97%, 1);
  --bg-color-title: hsla(275, 18%, 79%, 1);
  --bg-color-h1: hsla(312, 91%, 96%, 1);

  font-size: 62.5%;
}

body {
  font-family: var(--ff-text-mobile);
  font-size: 1.6rem;
}

header {
  background-color: var(--bg-color-header);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header img {
  margin-top: 3.2rem;
  margin-bottom: 4rem;
  height: 13.7rem;
}

header #title {
  background-color: var(--bg-color-title);
  width: 100%;
  padding: 0.8rem;
  text-align: center;
  margin-bottom: 3rem;
}

header #title h1 {
  font-family: var(--ff-text-heading);
  font-style: normal;
  font-weight: 400;
  font-size: 4rem;
  line-height: 3.4rem;

  letter-spacing: 0.08em;

  color: #FFFFFF;
  text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

#page {
  padding: 2rem 3.2rem;

  display: flex;
  flex-direction: column;

  background-color: var(--bg-color-content);
}

#page p {
  font-family: 'Palanquin';
  font-style: normal;
  font-weight: 400;
  font-size: 1.41rem;
  line-height: 1.5rem;

  display: flex;
  align-items: center;
  text-align: center;

  color: #23053A;
}

img {
  width: 100%;
}

main #wrapper-cards {
  display: grid;
  gap: 3.2rem;

  margin-top: 6rem;
}

main #wrapper-cards .cards {
  position: relative;
}

main #wrapper-cards .cards img{
 border-radius: 2rem ;

 width: 100%;
 object-fit: cover;

 animation: downTop 700ms reverse backwards;
}

main #wrapper-cards .cards .subtitle {
  position: absolute;
  right: 0;
  top: 0;

  margin-top: 1.6rem;
  margin-right: 1.6rem;

  background-color: var(--bg-color-title);
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 2rem;

  animation: topDown 700ms 350ms backwards;
}

main #wrapper-cards .cards .subtitle p {
  padding: 0 2.4rem;
  text-transform: uppercase;

  font-family: var(--ff-text-heading);
  font-style: normal;
  font-weight: 400;
  font-size: 2rem;
  line-height: 3.4rem;

  /* identical to box height, or 170% */
  letter-spacing: 0.05em;

  color: #4A4E69;
}

@keyframes topDown {
  0%{
    opacity: 0;
    transform: translateY(-15px);
  }

  100%{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes downTop {
  100%{
    opacity: 0;
    transform: translateY(15px);
  }
}